body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

p {
  color: white;
}

h2 {
  color: white;
}

label {
  color: white;
  margin-left: 2%;
}

#datepicker {
  display: flex;
}

h2 {
  margin-top: 0;
}

#bear {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5%;
}

button {
  padding: 0.4em 1.2em;
  border: 0.13em solid white;
  border-radius: 0.12em;
  margin-top: 2%;
  margin-left: 2%;
  text-decoration: none;
  color: white;
  background: none;
}

button:hover {
  background: white;
  color: black;
}

#volume {
  max-width: 70%;
  margin: 0 auto;
}

#timetravel {
  max-width: 70%;
  margin: 0 auto;
}

input {
  margin-left: 0.5em;
}
